.product {
  width: 320px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: white;
  position: relative;
}
.product img {
  width: 300px;
  height: 300px;
}
.btn-cart {
  text-decoration: none;
  font-weight: 600;
  color: rgb(47, 47, 68);
}
.btnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
